@media screen and (max-width:600px) {
    .header-menu{
        margin: 20px 0;
    }
    .header-content{
        text-align: center;
    }
    
    .header-menu a{
        display: block;
        padding:5px;

        width: 20%;
        margin: 5px auto;
        
       
        font-size:20px;
    }
   
    .header-right{
        text-align: center;
    }
.content{
    margin-bottom: -200px;
    margin-top: -200px;
}
}
@media screen and (max-width:1000px){
    .header-content{
        text-align: center;
    }
    
    .header-left{
        padding-bottom: 20px;
        
    }
    .header-menu{
        margin-bottom: 20px;
    }
    
    .header-right{
        text-align: center;
        

    }
    .header-right input{
        width: 30%;
    }
    .header-right button{
        width: 15%;
    }
    .first-right-content::before{
        left: 69.8%; 
    }
    .first-right::before{

        top: 50%;
        left: 70%;
        
    }
}